@font-face {
    font-family: 'aviny';
    src: url('./fonts/aviny-700\ \(1\).woff2');
}
*{
    font-family: 'aviny';
    color: #fff;
    
}
html{
    height: 50px;
}
h1{
    font-size: 70px;
    text-align: center;
    position:relative;
    top: 300px;
}
h2{
    position: relative;
    top: 250px;
    font-size: 45px;
    text-align: center;
}
p{
    position: relative;
    top: 250px;
    font-size: 45px;
    text-align: center;
}
.containe {
    border-radius: 10px;
    position: relative;
    width: 25%;
    top: 200px;
    left: 725px;
    background-color: rgb(93, 51, 51); /* Grey background */
}
.skills {
    border-radius: 10px;
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}
.python {width: 90%; background-color: #04AA6D;}
.round{
    width: 300px;
    height: 300px;
    border-radius: 200px;
}
header{
    background: rgb(42, 42, 43)
}
header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    float: top;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.cont{
    width: 100%;
    background-color: black;
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    font-size: 20px;
    display: inline;
    float: right;
    position: relative;
    left: -250px;
    margin-left: 450px;
}
.fade-in {
	animation: fadeIn 5s;
  	opacity: 2;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}
.fade-in2 {
	animation: fadeIn2 10s;
  	opacity: 2;
}

@keyframes fadeIn2 {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}