 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1251px;
}

.u-section-1 .u-shape-1 {
  width: 802px;
  height: 781px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 225px auto 0 392px;
}

.u-section-1 .u-shape-2 {
  width: 717px;
  height: 717px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -910px auto 0 372px;
}

.u-section-1 .u-image-1 {
  height: 628px;
  width: 628px;
  background-image: url("images/WhatsAppImage2022-02-13at10.10.40PM.jpeg");
  background-position: 50% 0%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -643px auto 0 466px;
}

.u-section-1 .u-group-1 {
  width: 535px;
  min-height: 453px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: -154px auto 60px 93px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: "Open Sans", sans-serif;
  margin: 91px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.24;
  font-size: 2.25rem;
  font-family: "Open Sans", sans-serif;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 63px auto 0 49px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  font-family: aviny-7001;
  margin: -49px 42px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-left: 138px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 223px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 312px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 3px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 540px;
    width: 540px;
    margin-top: -466px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -66px;
    margin-left: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-shape-1 {
    width: 329px;
    height: 478px;
    margin-top: 36px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-top: -418px;
  }

  .u-section-1 .u-image-1 {
    height: 273px;
    width: 273px;
    margin-top: -306px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 148px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}*{
	font-family 'aviny';
}@font-face {
  font-family: 'aviny-7001';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/aviny-7001.woff2);
}